/*
cadastro.css
*/
/* 
    Created on : 08/05/2015, 14:47:31
    Author     : Leandro
*/

@import url(http://fonts.googleapis.com/css?family=Lato);

* {
    text-decoration:none;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    border:none;
    list-style-type: none;
}

html {
    background:#232d36;
}

body {
    text-align:center;
    margin-top: 50px;
}

div, table, input, textarea, a {
    font-family: 'Lato', verdana;
    font-size: 16px;
    font-weight: normal;
    color: #376077;
}

a.destaque { 
    font-weight: bold;
}

a.destaque:hover { 
    text-decoration: underline;
    color: #d24b00;
}

#geral {
    margin: 0px auto;
    width: 400px;
    padding: 25px 25px 25px 25px;
    min-height: 300px;
    background: #eaefeb;
    text-align: left;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 100px 30px 20px #1d262d;
    margin-bottom: 30px;
}

#geral div.error {
    background: #f9f4e8;
    border: 1px solid #ccc;
    font-size: 12px;
    color: firebrick;
    padding: 5px;
}

#geral #topo {
    height: 225px;
    text-align: center;
    margin: -50px 0px 25px 0px;
    border-bottom: 1px solid #c8d4ca;
}

#geral .grid {
    width: 100%;
    border: 1px solid #ccc;
}

#geral .grid thead th, #geral .grid tbody td {
    padding: 5px;
}


#geral .grid th {
    background: #caddce;
}

#geral .grid tr:hover {
    background: #dde3df;
}

#form ul li {
    display: block;
    margin-bottom: 15px;
}

#form ul li label {
    display: block;
    margin-bottom: 5px;
}

#form input[type="text"], #form input[type="date"], #form input[type="email"], #form input[type="password"] {
    width: 98%;
    padding: 5px;
    border: 1px solid #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

#form input:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

#form input[type="submit"] {
    width: 100px;
    padding: 5px;
    border: 1px solid #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    background: #fff;
}

#form input[type="submit"]:hover {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
    background: #ceffe5;
}

#rodape {
    margin: 0px auto;
    width: 400px;
}

#rodape a {
    color: #232d36;
}

#rodape:hover a {
    color: #6e7d8b;
}
